# Test Env. Requirements

axe-selenium-python==2.1.6
django-debug-toolbar==3.2.2
autoreduce-rest-api
gunicorn
mysqlclient==2.1.0
selenium==3.141.0 ; python_version <= '3.6'
selenium==4.1.0 ; python_version >= '3.7'
