<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a data-toggle="collapse" class="collapsed" href="#toggleForm" data-target="#rerun_form" id="toggle_form">
                <i class="fas fa-chevron-right"></i> Re-run reduction job
            </a>
        </div>
    </div>

    <div class="card-body collapse" id="rerun_form">


        <form id="run_variables" method="POST" action="{% url 'run_confirmation' instrument=instrument.name %}">
        {% csrf_token %}
        <input type="hidden" name="run_range" value="{{ run_number }}">
        <input type="hidden" name="run_version" value="{{ run_version }}">
            <div class="form-group">
            {% include "snippets/variables/form_warnings.html" %}
            <div class="card">
                <div class="card-header">Additional Actions</div>
                <div class="card-body">
                    <ul class="js-form-actions">
                        {% include "snippets/reset_buttons.html" %}
                    </ul>
                    <div class="row">
                        <div class="js-action-explaination"></div>
                    </div>
                </div>
            </div>
                <label for="run_description" class="col-sm-3 col-form-label">
                                            Re-run description
                                        <a href="#" data-toggle="popover"
                                        data-content="This will be appended onto the run number for you and others to identify the reason for re-submitting."
                                        data-trigger="hover click focus" data-placement="top" data-container="body" aria-label="This will be appended onto the run number for you and others to identify the reason for re-submitting.">
                                            <i class="fas fa-info-circle"></i>
                </a></label>
                <div class="col-10">
                    <input type="text" name="run_description" class="form-control" />
                </div>
            </div>
            <div class="js-variables-container">
                {% include "snippets/variables/form.html" with standard_variables=standard_variables advanced_variables=advanced_variables instrument=instrument.name only %}
            </div>
            <div class="form-group variables-buttons">
                <div class="col text-right">
                    {% if not has_reduce_vars %}
                    <div class="alert alert-warning">
                        <p class="text-center " id="warning_message">
                            <i class="fas fa-exclamation-triangle"></i>
                                &nbsp;&nbsp;The reduce_vars.py script is missing for this instrument. Please create it before being able to submit re-runs.
                        </p>
                    </div>
                    {% endif %}
                    <input type="submit" value="Re-run with new variables" class="btn btn-success {% if not has_reduce_vars %} disabled {% endif %}" id="variableSubmit" />
                </div>
            </div>
        </form>
        
 
    </div>
</div>
