{% extends "base.html" %}
{% block title %}{{ instrument_name|default:"Instrument not found" }}{% endblock %}
{% load view %}
{% load static %}
{% load colour_table_rows %}
{% load render_table from django_tables2 %}

{% block body %}
    {% if message %}
        <div class="text-center card" id="notactive">{{ message }}</div>
    {% else %}
        <!-- Instrument Name -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ instrument_name }}</h2>
            </div>
        </div>
        <!-- Instrument status and control buttons -->
        <div class="row" id="btn-instrument_active">
            <!-- Status panel -->
            <div class="col-6">
                {% include "snippets/instrument_status.html" with processing=processing queued=queued last_instrument_run=last_instrument_run only %}
            </div>
            <!-- Pause / Resume Reduction button-->
            <div class="col-6 text-center">
                {% if instrument.is_paused %}
                    <a class="btn btn-danger btn-block" id="pause">
                        <i class="fa fa-play"></i>
                        &nbsp;&nbsp;Resume Autoreduction on {{ instrument_name }}
                    </a>
                {% else %}
                    <a class="btn btn-success btn-block" id="pause">
                        <i class="fa fa-pause"></i>
                        &nbsp;&nbsp;Pause Autoreduction on {{ instrument_name }}
                    </a>
                {% endif %}
                                <form id="form-pause" method="POST" action="{% url 'instrument:pause' instrument_name %}">
                    {% csrf_token %}
                    <input type="hidden" name="currently_paused" id="currently_paused" value="{{ instrument.is_paused }}">
                </form>
                <p></p>

                <div id="btn-re-run_past_job">
                    <p>
                        <a href="{% url 'instrument:submit_runs' instrument=instrument_name %}" class="btn btn-success btn-block {% if not has_variables %} disabled {% endif %}">
                            <i class="fa fa-arrow-left"></i>
                            &nbsp;&nbsp;Re-run past jobs
                        </a>
                    </p>
                </div>

                <div id="btn-configure_new_runs">
                    <p>
                        <a href="{% url 'instrument:variables' instrument=instrument_name %}"class="btn btn-success btn-block {% if not has_variables %} disabled {% endif %}">
                            <i class="fa fa-plus"></i>
                            &nbsp;&nbsp;Configure New Runs
                        </a>
                    </p>
                </div>

                <div id="btn-see_instrument_variables">
                    <p>
                        <a href="{% url 'instrument:variables_summary' instrument=instrument_name %}" class="btn btn-success btn-block {% if not has_variables %} disabled {% endif %}">
                            <i class="fa fa-eye"></i>
                            &nbsp;&nbsp;See Instrument variables
                        </a>
                    </p>
                </div>

                {% if not has_variables %}
                    <div class="alert alert-warning" role="alert" id="alert_message">
                        <i class="fa fa-exclamation-triangle"></i>
                        &nbsp;&nbsp;The buttons above have been disabled because {{ error_reason }}.
                    </div>
                {% endif %}

            </div>


        </div>
        <br/>
        <hr/>
        <!-- Display table for reduction jobs -->
        <div id="filter-options">
        <form action="{{ request.path }}" method="get" id="filter_options">
  <div class="form-row align-items-center">
    <div class="col-auto">
                    <label for="filter_select">Filter by</label>
                    <select class="form-control" name="filter" form="filter_options" id="filter_select">
                        <option value="run" title="Display run numbers"
                            {% if filtering == 'run' %}
                                selected="selected"
                            {% endif %}
                            >Run number</option>
                        <option value="experiment" title="Display run number grouped by RB number"
                            {% if filtering == 'experiment' %}
                                selected="selected"
                            {% endif %}
                            >Experiment Reference (RB)
                        </option>
                    </select>
    </div>
    <div class="col-auto">
                    <label for="sort_select">Sort by</label>
                    <select class="form-control" name="sort" form="filter_options" id="sort_select">
                        <option value="-run_number"
                            {% if sort == '-run_number' %}
                                selected="selected"
                            {% endif %}
                            >Number
                        </option>
                        <option value="date"
                            {% if sort == 'date' %}
                                selected="selected"
                            {% endif %}
                            >Date
                        </option>
                    </select>
    </div>
    <div class="col-auto">
                        <label for="pagination_select">Items per page</label>
                        <select title="The number of reduction jobs that should be shown per page" class="form-control" name="per_page" form="filter_options" id="pagination_select">
                            <option {% if max_items == '10' %} selected="selected" {% endif %}>10</option>
                            <option {% if max_items == '25' %} selected="selected" {% endif %}>25</option>
                            <option {% if max_items == '50' %} selected="selected" {% endif %}>50</option>
                            <option {% if max_items == '100' %} selected="selected" {% endif %}>100</option>
                            <option {% if max_items == '250' %} selected="selected" {% endif %}>250</option>
                            <option {% if max_items == '500' %} selected="selected" {% endif %}>500</option>
                        </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" value="Apply filters" id="apply_filters">Submit</button>
    </div>
  </div>
</form>
</div>
        <br/>
        <!-- Display table for every reduction job -->
        <div class="row table-responsive" id="runs-table">
                    <!-- Run number filtered jobs -->
                    {% if filtering == 'run' %}
                        {% render_table run_table %}
                    <!-- Experiment filtered jobs -->
                    {% elif filtering == 'experiment' %}
                        {% render_table experiment_table %}
                    {% else %}
                        <div class="row">No runs to show</div>
                    {% endif %}
        </div>
            <br/>

    {% endif %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-tourist.css" %}">
{% endblock %}
{% block scripts %}
    {% if preload_runs %}
        <script>window.preload_runs = true;</script>
    {% endif %}
    <script src="{% static "javascript/pause_instrument.js" %}"></script>
    <script src="{% static "javascript/instrument_variables.js" %}"></script>
    <script src="{% static "javascript/runs_list.js" %}"></script>
    <script src="{% static "javascript/vendor/bootstrap-tourist.js" %}"></script>
    <script src="{% static "javascript/tours/instrument_summary_tour.js" %}"></script>
    <script src="{% static "javascript/tours/navbar_tour.js" %}"></script>
    <script src="{% static "javascript/create_tour.js" %}"></script>
{% endblock %}