{% extends "base.html" %}
{% block title %}{{ instrument_name|default:"Instrument not found" }}{% endblock %}
{% load view %}
{% load static %}
{% load colour_table_rows %}
{% load get_run_navigation_queries %}
{% load crispy_forms_tags %}

{% block body %}
    {% if message %}
        <div class="text-center col-md-6 col-md-offset-3 well well-small" id="notactive">{{ message }}</div>
    {% else %}
        <!-- Instrument Name -->
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ instrument_name }}</h2>
            </div>
        </div>
        <!-- Instrument status and control buttons -->
        <div class="row" id="btn-instrument_active">
            <!-- Status panel -->
            <div class="col-md-6">
                {% include "snippets/instrument_status.html" with processing=processing queued=queued last_instrument_run=last_instrument_run only %}
            </div>
            <!-- Pause / Resume Reduction button-->
            <div class="col-md-6 text-center">
                {% if instrument.is_paused %}
                    <a class="btn btn-danger btn-block" id="pause">
                        <i class="fa fa-play"></i>
                        &nbsp;&nbsp;Resume Autoreduction on {{ instrument_name }}
                    </a>
                {% else %}
                    <a class="btn btn-success btn-block" id="pause">
                        <i class="fa fa-pause"></i>
                        &nbsp;&nbsp;Pause Autoreduction on {{ instrument_name }}
                    </a>
                {% endif %}
                <form id="form-pause" method="POST" action="{% url 'instrument:pause' instrument_name %}">
                    {% csrf_token %}
                    <input type="hidden" name="currently_paused" id="currently_paused" value="{{ instrument.is_paused }}">
                </form>
                <p></p>
            </div>
            <div class="col-md-6 text-center" id="btn-re-run_past_job">
                <p>
                    <a href="{% url 'instrument:submit_runs' instrument=instrument_name %}" class="btn btn-success btn-block"
                        {% if not has_variables %}
                            disabled
                        {% endif %}>
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;&nbsp;Re-run past jobs
                    </a>
                </p>
            </div>
            <div class="col-md-6 text-center" id="btn-configure_new_runs">
                <p>
                    <a href="{% url 'instrument:variables' instrument=instrument_name %}"class="btn btn-success btn-block"
                        {% if not has_variables %}
                            disabled
                        {% endif %}>
                        <i class="fa fa-plus"></i>
                        &nbsp;&nbsp;Configure New Runs
                    </a>
                </p>
            </div>
            <div class="col-md-6 text-center" id="btn-see_instrument_variables">
                <p>
                    <a href="{% url 'instrument:variables_summary' instrument=instrument_name %}" class="btn btn-success btn-block"
                        {% if not has_variables %}
                            disabled
                        {% endif %}>
                        <i class="fa fa-eye"></i>
                        &nbsp;&nbsp;See Instrument variables
                    </a>
                </p>
            </div>
            {% if not has_variables %}
                <div class="col-md-offset-6 col-md-6 text-center alert alert-warning" role="alert" id="alert_message">
                    <i class="fa fa-exclamation-triangle"></i>
                    &nbsp;&nbsp;The buttons above have been disabled because {{ error_reason }}.
                </div>
            {% endif %}
        </div>
        <br/>
        <hr/>

<form method="get" id="filter_options" class="form-inline">
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Apply filters" id="apply_filters">
</form>

<br></br>

        <!-- Display table for every reduction job -->
        <div class="row" id="runs-table">
            <div class="tab-content col-md-12">
                <!-- Run number filtered jobs -->
                {% if filtering == 'run' %}
                    {% include "filtered_by_number.html" %}
                <!-- Experiment filtered jobs -->
                {% elif filtering == 'experiment' %}
                    {% include "filtered_by_reference.html" %}
                {% else %}
                    <div class="row">No runs to show</div>
                {% endif %}
            </div>
        </div>
            <br/>
            <!-- Paginator -->
            {% if filtering == 'run' %}
                <div class="row">
                    {% if paginator %}
                        <div class="col-md-12 text-center">
                            <div class="btn-group" role="group">
                                {% if paginator.has_previous %}
                                    <button title="First Page" class="btn btn-default" onclick="changePage(1)">
                                        <i class="fa fa-step-backward"></i>
                                    </button>
                                    <button title="Previous Page" class="btn btn-default" onclick="changePage({{ paginator.previous_page_index }})">
                                        <i class="fa fa-chevron-left"></i>
                                    </button>
                                {% endif %}
                                {% for page in paginator.display_list %}
                                    {% if page.is_visible %}
                                        {% if page.number == paginator.current_page_index %}
                                            <button title="Current Page" class="btn btn-primary inline">{{ page.display_name }}</button>
                                        {% else %}
                                            <button class="btn btn-default" onclick="changePage({{ page.number }})">{{ page.display_name }}</button>
                                        {% endif %}
                                    {% else %}
                                        <button title="There are additional pages. Please access them using the navigation buttons." class="btn btn-default disabled">...</button>
                                    {% endif %}
                                {% endfor %}
                                {% if paginator.has_next %}
                                    <button title="Next Page" class="btn btn-default" onclick="changePage({{ paginator.next_page_index }})">
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                    <button title="Last page" class="btn btn-default" onclick="changePage({{ last_page_index }})">
                                        <i class="fa fa-step-forward"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-tour.min.css" %}">
{% endblock %}
{% block scripts %}
    {% if preload_runs %}
        <script>window.preload_runs = true;</script>
    {% endif %}
    <script src="{% static "javascript/pause_instrument.js" %}"></script>
    <script src="{% static "javascript/instrument_variables.js" %}"></script>
    <script src="{% static "javascript/runs_list.js" %}"></script>
    <script src="{% static "javascript/vendor/bootstrap-tour.min.js" %}"></script>
    <script src="{% static "javascript/tours/instrument_summary_tour.js" %}"></script>
    <script src="{% static "javascript/tours/navbar_tour.js" %}"></script>
    <script src="{% static "javascript/create_tour.js" %}"></script>
{% endblock %}