{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block body %}
    <h1>Search Page</h1>

    <form action="" method="get">
        {{filter.form.run_number|as_crispy_field:"bootstrap"}}
        <br>
        {{filter.form.instrument|as_crispy_field:"bootstrap"}}
        <br>
        {{filter.form.run_description|as_crispy_field:"bootstrap"}}
        <input type="radio" id="exact" name="run_description_qualifier" value="exact" {% if run_description_qualifier == 'exact' %} checked {% endif %}>
        <label for="exact">Exact</label>
            <input type="radio" id="contains" name="run_description_qualifier" value="contains" {% if run_description_qualifier == 'contains' %} checked {% endif %}>
        <label for="contains">Contains</label>
        <br>
        {{filter.form.created|as_crispy_field:"bootstrap"}}
        <br>
        <button id="search-button" type="submit" class="btn btn-primary">Search</button>
    </form>
    <br>

    <div>
        <label for="pagination_select">Items per page</label>
            <select title="The number of reduction jobs that should be shown per page" class="form-control" id="select_per_page" name="per_page">
                <option {% if per_page == '10' %} selected="selected" {% endif %}>10</option>
                <option {% if per_page == '25' %} selected="selected" {% endif %}>25</option>
                <option {% if per_page == '50' %} selected="selected" {% endif %}>50</option>
                <option {% if per_page == '100' %} selected="selected" {% endif %}>100</option>
                <option {% if per_page == '250' %} selected="selected" {% endif %}>250</option>
                <option {% if per_page == '500' %} selected="selected" {% endif %}>500</option>
            </select>
        <br>
        <button class="btn btn-primary" id="apply_filters" onclick="update_page()">Apply Filters</button>
    </div>
    
    <br>

{% if not table.rows %}
    <h4 id="message">{{message}}</h4>
{% else %}
    {% render_table table %}
{% endif %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-tour.min.css" %}">
{% endblock %}
{% block scripts %}
    <script src="{% static "javascript/vendor/bootstrap-tour.min.js" %}"></script>
    <script src="{% static "javascript/search_list.js" %}"></script>
    <script src="{% static "javascript/tours/overview_tour.js" %}"></script>
    <script src="{% static "javascript/tours/navbar_tour.js" %}"></script>
    <script src="{% static "javascript/create_tour.js" %}"></script>
{% endblock %}
