{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% load static %}
{% load colour_table_rows %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block body %}
    <h1>Search Page</h1>

    <form action="" method="get">
        {{ filter.form|crispy }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br>

{% comment %}   <form method="get">
    {{ filter.form.as_p }}
    <button type="submit" class="btn btn-primary">Search</button>
  </form> {% endcomment %}

{% if not table.rows %}
    <h4>{{message}}</h4>
{% else %}
    {% render_table table %}
{% endif %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-tour.min.css" %}">
{% endblock %}
{% block scripts %}
    <script src="{% static "javascript/vendor/bootstrap-tour.min.js" %}"></script>
    <script src="{% static "javascript/tours/overview_tour.js" %}"></script>
    <script src="{% static "javascript/tours/navbar_tour.js" %}"></script>
    <script src="{% static "javascript/create_tour.js" %}"></script>
{% endblock %}
