{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% load static %}
{% load colour_table_rows %}

{% block body %}
<h1>Search Page</h1>

<form action="" method="get">
    <input type='text' name='query' placeholder="Search...">
    <button type="submit" class="btn" text="submit">Search</button>
</form>

<br>

<table class="table table-hover">
<thead>
<tr>
<th>Run Number</th>
<th>Instrument</th>
<th>Last Updated</th>
</tr>
</thead>
<tbody>
{% for run in search_result %}
<tr>
<th><a href="#" class="run-num-links">{{run.run_number}}</a></th>
<td>{{ run.instrument }}</td>
<td>{{ run.run_number }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-tour.min.css" %}">
{% endblock %}
{% block scripts %}
    <script src="{% static "javascript/vendor/bootstrap-tour.min.js" %}"></script>
    <script src="{% static "javascript/tours/overview_tour.js" %}"></script>
    <script src="{% static "javascript/tours/navbar_tour.js" %}"></script>
    <script src="{% static "javascript/create_tour.js" %}"></script>
{% endblock %}
