<div class="log-display modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Reduction logs</h4>
            </div>
            <div class="modal-body">
                <pre class="prettyprint js-log-display-container">## Reduction log ##<br/>{{ run.reduction_log }}<br/><br/><br/>## Reduction admin log ##<br/>{{ run.admin_log }}</pre>
            </div>
        </div>
    </div>
</div>
